body {
  font-family: "Roboto", sans-serif !important;
  background: #a8dbe0;
  color: #123134;
}
.Logo {
  background-image: url(../githublogo.png);
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.Wrapper {
  padding: 40px 0;
}
.SearchWrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.SearchInput {
  width: 40%;
  border-radius: 6px;
  border: none;
  padding: 20px;
  box-shadow: 0px 8px 6px -6px #123134;
}
.SearchInput:focus-visible {
  outline: 2px solid #123134;
}
.ResultsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ListItem {
  background: white;
  padding: 10px;
  width: 25%;
  box-shadow: 0px 8px 6px -6px #123134;
  border-radius: 4px;
  flex: 1 0 21%;
  margin: 10px;
  flex-grow: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.UserAvatar {
  height: 50px;
  border-radius: 50%;
}
.UserDetailsBtn {
  height: 32px;
  background: transparent;
  border: 2px solid #a8dbe0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.UserDetailsBtn:hover {
  background-color: #a8dbe0;
}
.SingleUserWrapper {
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.SingleUserWrapper button {
  height: 40px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #123134;
  transition: background-color 0.5s;
}
.SingleUserWrapper button:hover {
  background-color: #a9dbe0;
}
.AvatarWrapper {
  height: 300px;
}
.SingleUserAvatar {
  border-radius: 50%;
  height: 100%;
}
